<footer id="footer">
    <div class="container">
        <div class="footer-list">
            <div class="menu">
                <a class="bar" href="#!">현대카드 M포인트몰</a>
                <a href="#!">현대카드 DIVE</a>
            </div>
            <ul class="tel-list">
                <li class="dot">고객센터 1577-6000 (해외 82-2-3015-9000)</li>
                <li class="dot">카드신청 1577-0100</li>
                <li class="em dot">금융신청 1577-6100</li>
                <li class="em">도난분실신고 1577-6200</li>
            </ul>
            <ul class="info">
                <li class="bar">회사소개 (<a href="#!">한글</a>/<a href="#!">ENG</a>)</li>
                <li class="bar"><a href="#!">영업점 안내</a></li>
                <li class="bar"><a href="#!">개인정보처리방침</a></li>
                <li class="bar"><a href="#!">고객권리안내</a></li>
                <li class="bar"><a href="#!">이용약관</a></li>
                <li class="bar"><a href="#!">윤리경영</a></li>
                <li class="bar"><a href="#!">업무위탁현황</a></li>
                <li class="bar"><a href="#!">전자민원접수</a></li>
                <li class="bar"><a href="#!">상품공시실</a></li>
                <li class="bar"><a href="#!">채용</a></li>
                <li><a href="#!">사이트맵</a></li>
            </ul>
            <div class="links">
                <div class="sns">
                    <a href="#!"><i class="fa fa-facebook"></i></a>
                    <a href="#!"><i class="fa fa-instagram"></i></a>
                    <a href="#!"><i class="fa fa-youtube"></i></a>
                    <a href="#!"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="dropdown family">
                    <div class="name">패밀리
                        <i class="fa fa-caret-up"></i>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="item">
                        <a href="#!">현대카드</a>
                        <a href="#!">현대캐피탈</a>
                        <a href="#!">현대커머셜</a>
                        <a href="#!">현대카드 현대캐피탈 MY BUSINESS</a>
                        <a href="#!">현대카드 MY COMPANY</a>
                        <a href="#!">현대카드 가맹점</a>
                        <a href="#!">현대카드 M포인트몰</a>
                        <a href="#!">현대카드 DIVE</a>
                    </div>
                </div>
            </div>
            <div class="address">
                <ul>
                    <li class="bar">서울시 영등포구 의사당대로 3 현대캐피탈빌딩</li>
                    <li class="bar">대표이사 정태영</li>
                    <li>사업자 등록번호 213-86-15419</li>
                </ul>
                <p>HYUNDAI CARD Corp.</p>
            </div>
            <img src="public/images/logo_footer.png" alt="">
        </div>
    </div>
</footer>