<%= title%>
<header id="header">
    <div class="top-header">
        <div class="container">
            <div class="links">
                <a href="/login" class="login">로그인</a>
                <a href="#!" class="bar">회원가입</a>
                <a href="#!">소비자포털</a>
                <a href="#!" class="bar">상품공시실</a>
                <a href="#!" class="em">개인</a>
                <a href="#!">개인사업자</a>
                <a href="#!">법인</a>
                <a href="#!">가맹점</a>
            </div>
        </div>
    </div>

    <div class="main-header">
        <div class="container">
            <div class="logo">
                <a href="/home"><img src="/public/images/logo_header.png" alt=""></a>
            </div>
            <div class="gnb">
                <nav>
                    <ul class="nav-items">
                        <li class="nav-item">
                            <a href="#!" class="nav-link">My Account</a>
                            <div class="inner">
                                <div class="inner-menu">
                                    <div class="thumb">
                                        <div class="slideshow nav-slideshow">
                                            <div class="item">
                                                <img src="/public/images/img_card_banner_03.png" alt="">
                                                <p>코스트코 결제 시<br>최대 3% 포인트 적립</p>
                                            </div>
                                            <div class="item">
                                                <img src="/public/images/img_card_banner_kalt.png" alt="">
                                                <p>코스트코 결제 시<br>최대 3% 포인트 적립</p>
                                            </div>
                                            <div class="item">
                                                <img src="/public/images/img_card_banner_onoff.png" alt="">
                                                <p>코스트코 결제 시<br>최대 3% 포인트 적립</p>
                                            </div>
                                        </div>
                                        <a href="#!">자세히 보기 ></a>
                                    </div>

                                    <div class="inner-menu-list item1">
                                        <h6>이용내역</h6>
                                        <ul>
                                            <li><a href="#!">이용대금명세서</a></li>
                                            <li><a href="#!">이용대금명세서(예정)</a></li>
                                            <li><a href="#!">이용한도</a></li>
                                            <li><a href="#!">카드이용내역(매출전표조회)</a></li>
                                            <li><a href="#!">포인트/마일리지/할인/캐시백</a></li>
                                            <li><a href="#!">유료상품 가입정보</a></li>
                                        </ul>
                                        <h6>정부 긴급재난지원금</h6>
                                        <ul>
                                            <li><a href="#!">안내·신청내역 조회</a></li>
                                            <li><a href="#!">사용내역 조회</a></li>
                                            <li><a href="#!">사용처 조회</a></li>
                                        </ul>
                                    </div>
                                    <div class="inner-menu-list item2">
                                        <h6>이용대금 결제 신청</h6>
                                        <ul>
                                            <li><a href="#!">즉시결제</a></li>
                                            <li><a href="#!">결제연기</a></li>
                                            <li><a href="#!">분할납부 결제(할부전환) 국내</a></li>
                                            <li><a href="#!">분할납부 결제(할부전환) 해외</a></li>
                                            <li><a href="#!">일부결제금액이월약정(리볼빙)</a></li>
                                            <li><a href="#!">단기카드대출(현금서비스)</a></li>
                                            <li><a href="#!">포인트결제전환</a></li>
                                        </ul>
                                        <h6>2층 구독</h6>
                                        <ul>
                                            <li><a href="#!">DIGITAL LOVER 2층</a></li>
                                            <li><a href="#!">대한항공카드 2층</a></li>
                                        </ul>
                                    </div>
                                    <div class="inner-menu-list item3">
                                        <h6>생활요금 납부서비스</h6>
                                        <ul>
                                            <li><a href="#!">정기결제</a></li>
                                            <li><a href="#!">수시결제</a></li>
                                        </ul>
                                        <h6>입금·소득공제 내역</h6>
                                        <ul>
                                            <li><a href="#!">입금내역</a></li>
                                            <li><a href="#!">소득공제내역</a></li>
                                            <li><a href="#!">개인사업자용 이용내역</a></li>
                                            <li><a href="#!">서류 발급</a></li>
                                        </ul>
                                    </div>
                                    <div class="inner-menu-list item4">
                                        <h6>이용 편의서비스 안내·신청</h6>
                                        <ul>
                                            <li><a href="#!">카드이용알림서비스</a></li>
                                            <li><a href="#!">이용내역안내메일서비스</a></li>
                                            <li><a href="#!">해외이용제한/해제서비스</a></li>
                                            <li><a href="#!">카드본인확인서비스</a></li>
                                            <li><a href="#!">해외원화결제차단서비스</a></li>
                                        </ul>
                                        <h6>케어서비스 안내</h6>
                                        <ul>
                                            <li><a href="#!">보험서비스</a></li>
                                            <li><a href="#!">채무면제·유예상품</a></li>
                                            <li><a href="#!">개인정보안심서비스</a></li>
                                            <li><a href="#!">신용지킴이서비스</a></li>
                                            <li><a href="#!">기타 서비스</a></li>
                                        </ul>
                                    </div>
                                    <div class="inner-menu-list item5">
                                        <h6>카드정보 관리</h6>
                                        <ul>
                                            <li><a href="#!">내카드 목록</a></li>
                                            <li><a href="#!">결제정보 조회/변경</a></li>
                                            <li><a href="#!">Lock & Limit</a></li>
                                            <li><a href="#!">가상카드번호</a></li>
                                            <li><a href="#!">카드 해지 신청</a></li>
                                        </ul>
                                        <h6>개인정보 관리</h6>
                                        <ul>
                                            <li><a href="#!">개인정보 조회/변경</a></li>
                                            <li><a href="#!">서비스 이용동의 조회/변경</a></li>
                                            <li><a href="#!">홈페이지 회원탈회</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">카드 안내·신청</a>
                            <div class="inner">
                                <div class="inner-menu">
                                    <div class="thumb">
                                        <div class="slideshow nav-slideshow">
                                            <div class="item">
                                                <img src="/public/images/img_card_banner_03.png" alt="">
                                                <p>코스트코 결제 시<br>최대 3% 포인트 적립</p>
                                            </div>
                                            <div class="item">
                                                <img src="/public/images/img_card_banner_kalt.png" alt="">
                                                <p>코스트코 결제 시<br>최대 3% 포인트 적립</p>
                                            </div>
                                            <div class="item">
                                                <img src="/public/images/img_card_banner_onoff.png" alt="">
                                                <p>코스트코 결제 시<br>최대 3% 포인트 적립</p>
                                            </div>
                                        </div>
                                        <a href="#!">자세히 보기 ></a>
                                    </div>
                                    <div class="inner-menu-list item1 v2">
                                        <ul class="fix">
                                            <li><h6>카드안내</h6></li>
                                            <li class="tit">Premium카드</li>
                                            <li><a href="#!">the Black</a></li>
                                            <li><a href="#!">the Purple</a></li>
                                            <li><a href="#!">the Red</a></li>
                                            <li><a href="#!">the Green</a></li>
                                            <li class="tit">3층 시스템 카드</li>
                                            <li><a href="#!">DIGITAL LOVER</a></li>
                                            <li><a href="#!">대한항공카드</a></li>
                                        </ul>
                                        <ul>
                                            <li class="tit">포인트카드</li>
                                            <li><a href="#!">M3</a></li>
                                            <li><a href="#!">M2</a></li>
                                            <li><a href="#!">M</a></li>
                                            <li><a href="#!">T3</a></li>
                                            <li class="tit">할인카드</li>
                                            <li><a href="#!">DIGITAL LOVER</a></li>
                                            <li><a href="#!">X3</a></li>
                                            <li><a href="#!">X2</a></li>
                                            <li><a href="#!">X</a></li>
                                        </ul>
                                        <ul>
                                            <li class="tit">ZERO</li>
                                            <li><a href="#!">ZERO(할인형)</a></li>
                                            <li><a href="#!">ZERO(포인트형)</a></li>
                                            <li><a href="#!">ZERO MOBILE(할인형)</a></li>
                                            <li><a href="#!">ZERO MOBILE(포인트형)</a></li>
                                        </ul>
                                        <ul>
                                            <li class="tit">MY BUSINESS카드</li>
                                            <li><a href="#!">MY BUSINESS카드</a></li>
                                            <li class="tit">제휴카드</li>
                                            <li><a href="#!">대한항공</a></li>
                                            <li><a href="#!">현대자동차</a></li>
                                            <li><a href="#!">기아자동차</a></li>
                                            <li><a href="#!">이마트</a></li>
                                            <li><a href="#!">SSG.COM</a></li>
                                            <li><a href="#!">스마일카드(ebay)</a></li>
                                            <li><a href="#!">코스트코</a></li>
                                            <li><a href="#!">GS칼텍스</a></li>
                                            <li><a href="#!">제휴카드</a></li>
                                        </ul>
                                        <ul>
                                            <li class="tit">기타카드</li>
                                            <li><a href="#!">Chameleon</a></li>
                                            <li><a href="#!">체크카드</a></li>
                                            <li><a href="#!">Gift 카드</a></li>
                                            <li><a href="#!">알파벳카드</a></li>
                                            <li><a href="#!">가족카드</a></li>
                                            <li><a href="#!">후불하이패스카드</a></li>
                                            <li><a href="#!">특화카드</a></li>
                                        </ul>
                                    </div>
                                    <div class="inner-menu-list item2 v2">
                                        <h6>카드신청</h6>
                                        <ul>
                                            <li><a href="#!">신규신청</a></li>
                                            <li><a href="#!">추가교체 신청</a></li>
                                            <li><a href="#!">바로발급서비스</a></li>
                                        </ul>
                                    </div>
                                    <div class="inner-menu-list item3 v2">
                                        <h6>발급조회 수령등록</h6>
                                        <ul>
                                            <li><a href="#!">카드발급조회</a></li>
                                            <li><a href="#!">카드신청안심서비스</a></li>
                                            <li><a href="#!">카드수령등록</a></li>
                                            <li><a href="#!">카드비밀번호 등록/변경</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">나만의 혜택</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">M혜택 안내</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">M혜택 안내</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">X혜택 안내</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">자동차 구매혜택</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">금융 안내 신청</a>
                        </li>
                        <li class="nav-item">
                            <a href="/culturelife/culturelife" class="nav-link">컬처·라이프스타일</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">고객센터</a>
                        </li>
                    </ul>
                </nav>
                <div class="btn-search">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
    </div>
</header>