<!--<nav class="side-menu">-->
<!--    <a href="/home" class="nav-link">home</a>-->
<!--    <a href="/login" class="nav-link">login</a>-->
<!--    <a href="/culturelife/culturelife" class="nav-link">culture&life</a>-->
<!--</nav>-->