.main-contents {
  margin: 50px 0 100px 0;
  h1 {
    padding-bottom: 20px;
    a {
      font-size: 19px;
      &:hover {
        color: #0088cc;
      }
    }
  }
  .content-box.first {
    display: flex;
    .login {
      width: 290px;
      height: 692px;
      background-color: #888;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 37px 0;
      .title {
        width: 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: #fff;
          margin-right: 20px;
          &:hover {
            border-bottom: 2px solid #fff;
          }
        }
        span {
          border: 1px solid #fff;
          font-size: 11px;
          padding: 4px 5px;
          cursor: pointer;
          margin-bottom: 20px;
          &:hover {
            background-color: #fff;
            color: #333;
          }
        }
      }
      .btn-menu {
        width: 230px;
        background-color: #fff;
        border-radius: 3px;
        height: 32px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        p {
          color: #666;
          font-size: 13px;
          padding: 15px 10px;
          cursor: pointer;
          &:hover {
            color: #0088cc;
          }
          &:nth-child(2) {
            border: 1px solid #888;
            border-top: none;
            border-bottom: none;
          }
        }

      }
      .search {
        display: flex;
        margin-bottom: 50px;
        width: 230px;
        a {
          display: flex;
          justify-content: flex-start;
          font-size: 12px;
          color: #fff;
          &:hover {
            border-bottom: 1px solid #fff;
          }
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      img {
        width: 60%;
        box-shadow: 5px 5px 15px rgba(0,0,0, .3);
      }
      .desc {
        margin-top: 30px;
        color: #fff;
        line-height: 1.5;
        cursor: pointer;
        &:hover {
          p.bold span {
            color: #fff;
          }
        }
        p.bold {
          font-size: 20px;
          font-weight: 600;
          padding-bottom: 20px;
          span {
            color: #333;
          }
        }
        p {
          padding-top: 20px;
        }
      }
    }

    .card-guide {
      width: 585px;
      height: 692px;
      border: 1px solid #d5d3d3;
      .card-guide-item {
        .card-menu {
          padding: 37px 30px 70px 30px;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #d5d3d3;
          .title {
            display: flex;
            justify-content: space-between;
            .links {
              a {
                color: #999;
                font-size: 13px;
                padding: 0 10px;
                &:hover {
                  color: #0088cc;
                }
                &.bar {
                  position: relative;
                  &:after {
                    content: '';
                    width: 1px;
                    height: 13px;
                    background-color: #999;
                    position: absolute;
                    top: 3px;
                    right: 0;
                  }
                }
              }
            }
          }
          .card-slideshow {
            padding: 0 -30px;
            .slick-dots {
              bottom: -50px;
            }
            .item {
              cursor: pointer;
              position: relative;
              img {
                width: 152px;
              }
              &:hover {
                color: #0088cc;
              }
              p {
                position: absolute;
                bottom: 30px;
                left: 5px;
                background-color: rgba(0, 0, 0, 0.56);
                color: #fff;
                border-radius: 3px;
                padding: 4px;
                font-size: 11px;
              }
              span {
                display: inline-block;
                margin-top: 10px;
              }
            }
          }
        }
      }
      .card-benefits {
        display: flex;
        justify-content: space-between;
        .banner {
          flex: 1;
          border-right: 1px solid #d5d3d3;
          padding: 37px 30px;
          &.x{
            border-right: none;
          }
          &.m {

          }
          a {
            p {
              margin-top: 15px;
            }
            &:hover {
              color: #0088cc;
            }
          }
        }
      }
    }
    .bank-guide {
      width: 295px;
      border: 1px solid #d5d3d3;
      border-left: none;
      padding: 0 25px;
      .title {
        padding-top: 37px;
      }
      .bank-slideshow {
        .slick-dots {
          bottom: -20px;
        }
        .item {
          p {
            padding-top: 10px;
            font-size: 13px;
            color: #333;
            line-height: 1.2;
            &:hover {
              color: #0088cc;
            }
          }

        }
      }
      ul.bank-list {
        margin-top: 50px;
        li {
          border-top: 1px solid #d5d3d3;
          padding: 10px 0;
          a {
            p {
              color: #999;
              font-size: 12px;
              padding-bottom: 10px;
            }
            p.color {
              font-size: 14px;
              color: #000;
            }
            &:hover {
              .color {
                color: #0088cc;
              }
            }
          }
        }
      }
    }
  }
  .content-box.seconds {
    display: flex;
    height: 308px;
    .seconds-area {
      padding: 37px 30px;
      border: 1px solid #d5d3d3;
      border-top: none;
      &.culture {
        width: 290px;
      }
      &.service-center {
        width: 292px;
        border-left: none;
        border-right: none;
        .service-box {
          width: 291px;
          display: flex;
          ul.link {
            li {
              background-color: rgba(147, 145, 145, 0.17);
              border: 1px solid #fff;
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 10px;
                font-size: 13px;
                color: #666;
                &:hover {
                  color: #0088cc;
                }
              }
            }
          }
        }
        .desc-number {
          padding-bottom: 10px;
          line-height: 1.2;
          border-bottom: 1px solid #d5d3d3;
          p {
            font-size: 20px;
          }
        }
        p {
          padding-top: 10px;
          line-height: 1.5;
          font-size: 13px;
          a {
            color: #0088cc;
            border-bottom: 1px solid #0088cc;
          }
        }
      }
      &.digital-project {
        width: 292px;
        border-right: none;
      }
      &.event {
        width: 296px;
      }
      //seconds-area 공통 slick
      .slick-dots {
        bottom: -10px;
      }
      .item {
        cursor: pointer;
        p {
          padding-top:15px;
          line-height: 1.2;
          color: #999;
          font-size: 13px;
          &:hover {
            color: #0088cc;
          }
        }
      }
    }
  }

  .notice-box {
    position: relative;
    height: 50px;
    background-color: #d5d3d3;
    padding: 5px 20px;
    margin-top: 20px;
    color: #999;
    font-size: 13px;
    h4 {
      a {
        display: flex;
        color: #000;
        font-size: 14px;
        padding-bottom: 10px;
        &:hover {
          color: #0088cc;
        }
      }
    }
    .item {
      cursor: pointer;
      .tit:hover {
        color: #0088cc;
      }
    }
    .notice-slideshow {
      .slick-dots {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        display: flex;
        li {
          width: 10px;
          height: 10px;
          margin: 0 10px;
        }
      }
    }
  }
}




//slick first,seconds box 슬라이드 공통요소
.slideshow {
  .slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    li {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #ddd;
      margin: 0 5px;
      &.slick-active {
        background: #08c;
      }
      button {
        display: none;
      }
    }
  }
}