.back-top {
  position: fixed;
  bottom: -50px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #d5d3d3;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .show-backtop & {
    bottom: 50px;
    transition: 0.5s;
  }
}