#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  transition: 0.2s;
  transform: none;
  .get-scroll & {
    transform: translateY(-100%);
  }

  .top-header {
    .container {
      display: flex;
      justify-content: flex-end;
    }

    .links {
      display: flex;
      align-items: center;
      height: 30px;

      a {
        display: flex;
        padding: 0 10px;
        color: #666;
        font-size: 12px;

        &.login {
          border: 1px solid #999;
          padding: 4px 5px 5px 5px;
        }

        &.em, &:hover {
          color: #000;
        }

        &.bar {
          position: relative;
          padding-right: 20px;
          margin-right: 10px;

          &:after {
            content: '';
            width: 1px;
            height: 10px;
            background-color: #666;
            position: absolute;
            top: 2px;
            right: 0;
          }
        }
      }
    }
  }
  .main-header {
    position: relative;
    border-bottom: 1px solid #d5d3d3;
    > .container {
      display: flex;
      align-items: center;
    }
    .logo {
      margin-right: 20px;
    }
    .gnb {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      nav {
        flex: 1;
        ul.nav-items {
          display: flex;
          justify-content: center;
          li.nav-item {
            &:hover {
              .dropdown {
                max-height: 1000px;
                transition: 0.7s;
              }
            }
            .nav-link {
              display: flex;
              align-items: center;
              height: 72px;
              color: #000;
              font-size: 14px;
              font-weight: 400;
              padding: 0 13px;
              &:hover {
                color: #0088cc;
                border-bottom: 1px solid #0088cc;
              }
            }
            .dropdown {
              position: absolute;
              top: 101%;
              left: 0;
              right: 0;
              z-index: 10;
              background-color: #fff;
              max-height: 0;
              overflow: hidden;
              .container {
                display: flex;
                padding: 30px 15px;
                .thumb {
                  margin-right: 100px;

                  .nav-slideshow {
                    width: 206px;

                    .slick-dots li {
                      display: none;
                    }
                  }
                  p {
                    font-size: 13px;
                    color: #888;
                    line-height: 1.5;
                    padding: 15px 0;
                  }

                  a {
                    color: #888;

                    &:hover {
                      color: #0088cc;
                    }
                  }
                }

                .dropdown-menu {
                  border-right: 1px solid #d5d3d3;
                  &.item5 {
                    border: none;
                  }

                  h6 {
                    font-weight: 600;
                    color: #000;
                    font-size: 13px;
                    padding: 5px 20px;
                  }

                  ul {
                    li {
                      &:last-child {
                        padding-bottom: 20px;
                      }

                      a {
                        display: flex;
                        color: #888;
                        padding: 5px 20px;
                        font-size: 13px;

                        &:hover {
                          color: #0088cc;
                        }
                      }
                    }
                  }
                }
              }

              .dropdown-menu.v2 {
                &.item1 {
                  display: flex;

                  ul {
                    &:not(.fix) {
                      margin-top: 22px;
                    }

                    .tit {
                      color: #000;
                      padding: 15px 20px 0 20px;
                      font-size: 13px;
                    }
                  }
                }

                &.item3 {
                  border-right: none;
                }
              }
            }
          }
        }
      }

      .btn-search {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 24px;
          color: #999;
        }
      }
    }
  }
}

