<!doctype html>
<html lang="en">
<head>
    <%- include components/head %>
</head>
<body>
    <%- include components/nav %>
    <%- include('components/header', {title: title, description: description}) %>
    <div id="wrap">
        <div class="home-main">
            <div class="container">
                <section class="contents-box first">
                    <div class="login">
                        <div class="title">
                            <h1><a href="#!">My Account ></a></h1>
                            <span>회원가입</span>
                        </div>
                        <div class="btn-menu">
                            <p>현대카드 앱</p>
                                <p>아이디</p>
                            <p>공인인증서</p>
                        </div>
                        <div class="search">
                            <a href="#!">아이디 찾기 ></a>
                            <a href="#!">비밀번호 찾기 ></a>
                        </div>
                        <img src="/public/images/card_MMOZRE2_h.png" alt="">
                        <div class="desc">
                            <p class="bold"><span>혜택 빌런</span>이 되어 돌아왔다!</p>
                            실적 조건 없는<br>ZERO Edition2 출시<br>
                            <p>자세히보기 ></p>
                        </div>
                    </div>
                    <div class="card-guide">
                        <div class="card-item">
                            <div class="title">
                                <h1><a href="#!">카드 안내·신청 ></a></h1>
                                <div class="links">
                                    <a class="bar" href="#!">카드신청</a>
                                    <a class="bar" href="#!">카드발급조회</a>
                                    <a href="#!">카드수령등록</a>
                                </div>
                            </div>
                            <div class="slideshow card-slideshow">
                                <div class="item">
                                    <img src="/public/images/card_ME3_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_MPE3_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_M3PE3_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_XE2_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_XPE2_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_X3PE2_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_TG_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_TRE4_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                                <div class="item">
                                    <img src="/public/images/card_TPE2_h.png" alt="">
                                    <p>Welcome 이벤트</p>
                                    <span>The Green</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-benefits">
                            <div class="banner">
                                <h1><a href="#!">M혜택 안내 ></a></h1>
                                <a href="#!">
                                    <img src="/public/images/img_mbenefit.gif" alt="">
                                    <p>M포인트 Special</p>
                                </a>
                            </div>
                            <div class="banner">
                                <h1><a href="#!">X혜택 안내 ></a></h1>
                                <a href="#!">
                                    <img src="/public/images/img_xbenefit.gif" alt="">
                                    <p>5% / 10% 시즌 스페셜 할인</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bank-guide">
                        <div class="title">
                            <h1><a href="#!">금융 안내∙신청 ></a></h1>
                        </div>
                        <div class="slideshow bank-slideshow">
                            <div class="item">
                                <img src="/public/images/img_monetary1.gif" alt="">
                                <p>목돈이 필요한데 복잡한 서류 절차 없이 바로 빌릴 수 없을까?</p>
                            </div>
                            <div class="item">
                                <img src="/public/images/img_monetary2.gif" alt="">
                                <p>목돈이 필요한데 복잡한 서류 절차 없이 바로 빌릴 수 없을까?</p>
                            </div>
                            <div class="item">
                                <img src="/public/images/img_monetary3.gif" alt="">
                                <p>목돈이 필요한데 복잡한 서류 절차 없이 바로 빌릴 수 없을까?</p>
                            </div>
                        </div>
                        <ul class="bank-list">
                            <li>
                                <a href="#!">
                                    <p>목돈이 필요할 때,</p>
                                    <p class="color">장기카드대출(카드론) ></p>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <p>목돈이 필요할 때,</p>
                                    <p class="color">장기카드대출(카드론) ></p>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <p>목돈이 필요할 때,</p>
                                    <p class="color">장기카드대출(카드론) ></p>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <p>목돈이 필요할 때,</p>
                                    <p class="color">장기카드대출(카드론) ></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="contents-box seconds">
                    <div class="seconds-area culture">
                        <h1><a href="#!">컬처·라이프스타일 ></a></h1>
                        <div class="slideshow culture-slideshow">
                            <div class="item">
                                <img src="/public/images/main_banner_pc_180305.jpg" alt="">
                                <p>현대카드 슈퍼 콘서트 24<br>KENDRICKLAMAR</p>
                            </div>
                            <div class="item">
                                <img src="/public/images/main_banner_pc_180530.jpg" alt="">
                                <p>현대카드 다빈치 모델</p>
                            </div>
                            <div class="item">
                                <img src="/public/images/main_banner_pc_180816.jpg" alt="">
                                <p>현대카드 다빈치 모델</p>
                            </div>
                        </div>
                    </div>
                    <div class="seconds-area service-center">
                        <h1><a href="#!">고객센터 ></a></h1>
                        <div class="service-box">
                            <ul class="link">
                                <li><a href="#!">상담/문의</a></li>
                                <li><a href="#!">전자민원접수</a></li>
                                <li><a href="#!">경영공시</a></li>
                            </ul>
                            <ul class="link">
                                <li><a href="#!">도난·분실 신고/해제</a></li>
                                <li><a href="#!">소비자포털</a></li>
                                <li><a href="#!">상품공시실</a></li>
                            </ul>
                        </div>
                        <div class="desc-number">
                            <p>1577-6000</p>
                            (해외 : 82-2-3015-9000)
                        </div>
                        <p>
                            <a href="#!">외국인(Foreigner)/청각장애인</a>을 위한 상담 안내 서비스를 제공합니다.
                        </p>
                    </div>
                    <div class="seconds-area digital-project">
                        <h1><a href="#!">Digital 현대카드 프로젝트 ></a></h1>
                        <div class="slideshow digital-slideshow">
                            <div class="item">
                                <img src="/public/images/img_digital0531_01.jpg" alt="">
                                <a href="#!"><p>한장의 카드로 보유한 현대카드의 모든 혜택을 받고 싶을때, Chameleon</p></a>
                            </div>
                            <div class="item">
                                <img src="/public/images/img_digital0531_02.jpg" alt="">
                                <a href="#!"><p>한장의 카드로 보유한 현대카드의 모든 혜택을 받고 싶을때, Chameleon</p></a>
                            </div>
                            <div class="item">
                                <img src="/public/images/img_digital0531_03.jpg" alt="">
                                <a href="#!"><p>한장의 카드로 보유한 현대카드의 모든 혜택을 받고 싶을때, Chameleon</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="seconds-area event">
                        <h1><a href="#!">이벤트 ></a></h1>
                        <div class="slideshow event-slideshow">
                            <div class="item">
                                <img src="/public/images/20190910175613_1_214621.jpg" alt="">
                                <a href="#!"><p>스마일카드 6월 쇼핑 <br>할인·캐시백 이벤트</p></a>
                            </div>
                            <div class="item">
                                <img src="/public/images/20191101174617_1_225713.jpg" alt="">
                                <a href="#!"><p>스마일카드 6월 쇼핑 <br>할인·캐시백 이벤트</p></a>
                            </div>
                            <div class="item">
                                <img src="/public/images/20180727181036_0_204158.png" alt="">
                                <a href="#!"><p>스마일카드 6월 쇼핑 <br>할인·캐시백 이벤트</p></a>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="notice-box">
                    <h4><a href="#!">[뉴스/공지사항]</a></h4>
                    <div class="notice-slideshow">
                        <div class="item">
                            <span class="tit">플래티넘카드 주말 무료 주차서비스 한강공원 주차장 일시 장애 안내</span>
                            <span class="date">| 20.06.08</span>
                        </div>
                        <div class="item">
                            <span class="tit">현대카드ZERO Edition2(4종) 출시 안내 </span>
                            <span class="date">| 20.06.08</span>
                        </div>
                        <div class="item">
                            <span class="tit">정부 긴급재난지원금 신청 및 사용 안내 </span>
                            <span class="date">| 20.06.08</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="back-top"><i class="fa fa-chevron-up"></i></div>
    </div>
    <%- include components/footer %>
</body>
</html>