<!doctype html>
<html lang="en">
<head>
    <%- include ../components/head %>
</head>
<body>
<%- include('../components/header', {title: title, description: description}) %>
<div class="page-title">
    <h1><%= title %></h1>
</div>
<div class="customer-main-page">
    <section class="customer-faq-board">
        <div class="container-sm">
            <div class="faq-board-desc">
                <h3>고객상담/문의</h3>
                <h2><a href="/customer/faq">자주하는 질문 ></a></h2>
            </div>
            <div class="search">
                <input type="text" placeholder="무엇을 도와드릴까요?">
                <div class="btn">질문하기</div>
            </div>
            <ul class="faq-items">
                <li>
                    <div class="item">
                        <p class="number">01</p>
                        <p>카드<em>비밀번호</em> 분실시<br>어떻게 확인해야 하나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">02</p>
                        <p><em>X할인</em>의 시기는<br>언제인가요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">03</p>
                        <p>나는 왜 <em>카드발급</em>이<br>안되나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">04</p>
                        <p>갑자기 왜 <em>이용한도</em>가<br>줄었나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">05</p>
                        <p>카드사가 <em>부가서비스를</em><br>바꿔가도 되나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">06</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">07</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">08</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">9</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">10</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">11</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">12</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">13</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">14</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <p class="number">15</p>
                        <p><em>연체</em>시 법적절차 진행은<br>너무하지 않나요?</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="customer customer-question title-trigger">
        <div class="container-sm">
            <h2><a href="#!">상담/문의 ></a></h2>
            <ul>
                <li>
                    <div class="item">
                        <i class="fa fa-phone"></i>
                        <a href="#!">ARS상담 ></a>
                        <p>ARS상담, 사용 팁,<br>조회/처리를 확인</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-phone"></i>
                        <a href="#!">ARS상담 ></a>
                        <p>ARS상담, 사용 팁,<br>조회/처리를 확인</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-phone"></i>
                        <a href="#!">ARS상담 ></a>
                        <p>ARS상담, 사용 팁,<br>조회/처리를 확인</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-phone"></i>
                        <a href="#!">ARS상담 ></a>
                        <p>ARS상담, 사용 팁,<br>조회/처리를 확인</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="customer customer-safe">
        <div class="container-sm">
            <h3>소비자보호</h3>
            <ul>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="customer customer-licence">
        <div class="container-sm">
            <h3>소비자보호</h3>
            <ul>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="customer customer-guide">
        <div class="container-sm">
            <h3>이용안내</h3>
            <ul>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <i class="fa fa-user"></i>
                        <h2>소비자포털 ></h2>
                        <p>금융소비자 권익보호를 최우선으로 하는<br>금융 관련 정보 제공 공간</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="customer-news">
        <div class="container-sm">
            <h2><a href="#!">뉴스/공지 ></a></h2>
            <ul>
                <li>
                    <a href="#!">
                        <p>[상품·서비스 변경안내] 플래티넘카드 주말 무료 주차서비스 한강공원 주차장 일시 장애 안내</p>
                        <p class="date">20.06.08</p>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <p>[상품·서비스 변경안내] 플래티넘카드 주말 무료 주차서비스 한강공원 주차장 일시 장애 안내</p>
                        <p class="date">20.06.08</p>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <p>[상품·서비스 변경안내] 플래티넘카드 주말 무료 주차서비스 한강공원 주차장 일시 장애 안내</p>
                        <p class="date">20.06.08</p>
                    </a>
                </li>
            </ul>

            <div class="customer-news-bar">
                <a href="#!">
                    <p>6월, 현대카드가 준비한 카드별 다양한 혜택을 확인해 보세요.</p>
                    <p>회원소식지 자세히 보기 ></p>
                </a>
            </div>
        </div>
    </section>
</div>

<div class="back-top"><i class="fa fa-chevron-up"></i></div>
<%- include ../components/footer %>
</body>
</html>