<!doctype html>
<html lang="en">
<head>
    <%- include ../components/head %>
</head>
<body>
<%- include ../components/nav %>
<%- include('../components/header', {title: title, description: description}) %>

<div id="wrap">
    faq
</div>

<%- include ../components/footer %>
</body>
</html>