<!doctype html>
<html lang="en">
<head>
    <%- include ../components/head %>
</head>
<body>
<%- include('../components/header', {title: title, description: description}) %>

<div class="page-nav">
    <div class="container">
        <a href="/home">Home</a>
        <span> > </span>
        <a href="/customer/customer">고객센터</a>
        <span> > </span>
        <span class="title">자주하는질문</span>
    </div>
</div>

<div class="customer-pages-faq">
    <div class="desc">
        <h1>자주하는질문</h1>
        <div class="search">
            <input type="text" 도움말을 검색해보세요>
            <div class="btn">질문하기</div>
        </div>
    </div>
    <section class="faq-menu">
        <div class="container-sm">
            <ul>
                <li><a href="#!">청구/결제</a></li>
                <li><a href="#!">카드이용</a></li>
                <li><a href="#!">회원정보</a></li>
                <li><a href="#!">포인트/할인</a></li>
                <li><a href="#!">카드신청/발급</a></li>
                <li><a href="#!">카드상품</a></li>
                <li><a href="#!">금융상품</a></li>
                <li><a href="#!">홈페이지/모바일</a></li>
                <li><a href="#!">가맹점/법인</a></li>
                <li><a href="#!">유형별FAQ</a></li>
            </ul>
            <div class="links">
                <a href="#!">이용대금명세서</a>
                <a href="#!">이용대금결제</a>
                <a href="#!">카드이용내역</a>
                <a href="#!">자동납부/카드수납</a>
                <a href="#!">연회비</a>
            </div>
        </div>
    </section>
    <section class="faq-board">
        <div class="container-sm">
            <h2>이용대금명세서</h2>
            <ul>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
                <li>
                    <div class="que">
                        <p>[청구/결제 > 이용대금명세서] 홈페이지에서 이메일명세서 재발송은 최근 2개월만 되나요?</p>
                        <div class="icon">
                            <i class="fa fa-angle-down"></i>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="answer">
                        네, 홈페이지를 통한 이용대금명세서 재발송 신청은 최근 2개월까지의 내역만 가능합니다.<br>
                        그 외 기간의 이용대금명세서 재발송이 필요한 경우 고객센터(1577-6000)로 문의해주시기 바랍니다.
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<div class="back-top"><i class="fa fa-chevron-up"></i></div>
<%- include ../components/footer %>
</body>
</html>