<!doctype html>
<html lang="en">
<head>
    <%- include ../components/head %>
</head>
<body>
<%- include ../components/nav %>
<%- include('../components/header', {title: title, description: description}) %>

<div id="wrap">
    <div class="visual">
        <div class="title">
            <h1>컬처·라이프스타일</h1>
        </div>
        <div class="slideshow visual-slideshow">
            <div class="item img1">
                <div class="desc text1">
                    <h2>현대카드 슈퍼매치<br>고진영 VS 박성현</h2>
                    <a href="#!" class="btn">자세히 보기</a>
                </div>
            </div>
            <div class="item img2">
                <div class="desc text2">
                    <h2>현대카드 다빈치모텔</h2>
                    <p>"잔깐 쉬었다 갈까?"<br>일년에 한 번, 신기루처럼 펼쳐지는 충전과 영감의 공간</p>
                    <a href="#!" class="btn">자세히 보기</a>
                </div>
            </div>
            <div class="item img3">
                <div class="desc text3">
                    <a href="#!">
                        <h2>현대카드 DIVE</h2>
                        <p>취향을 업데이트하는 힙스터들의 필수 앱</p>
                    </a>
                </div>
            </div>
            <a href="#!"><div class="item img4"></div></a>
            <div class="item img5">
                <div class="desc text5">
                    <h2>현대카드 컬처프로젝트 28<br>The Weeknd</h2>
                    <p>R&B의 새로운 지평을 연<br>Starboy, 위켄드의 최초 내한 공연</p>
                    <a href="#!" class="btn">자세히 보기</a>
                </div>
            </div>
            <div class="item img6">
                <div class="desc text6">
                    <h2>현대카드 슈퍼콘서트 23<br>SAM SMITH</h2>
                    <p>독보적 존재감의 보컬리스트 샘 스미스의<br>최초 내한 공연</p>
                    <a href="#!" class="btn">자세히 보기</a>
                </div>
            </div>
            <div class="item img7">
                <div class="desc text7">
                    <h2>현대카드 슈퍼콘서트 23<br>SAM SMITH</h2>
                    <p>독보적 존재감의 보컬리스트 샘 스미스의<br>최초 내한 공연</p>
                    <a href="#!" class="btn">자세히 보기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="culturelife-section culture">
            <div class="title">
                <h3>Culture</h3>
                <p>현대카드이기에 가능한 독보적 문화행사</p>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/life_super_concert.jpg" alt="">
                            <p class="tit">슈퍼콘서트 ></p>
                            <p>세계 레전드급 아티스트들의 놀라운 무대</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/main_banner_pc_180816.jpg" alt="">
                            <p class="tit">컬처프로젝트 ></p>
                            <p>이 시대의 컬처아이콘을 탐색 ·선별·소개하다</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/main_banner_mobile_190920.jpg" alt="">
                            <p class="tit">현대카드 다빈치모델 ></p>
                            <p>일년에 한 번 펼쳐지는 충전과 영감의 공간</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/life_super_match2.jpg" alt="">
                            <p class="tit">슈퍼매치 ></p>
                            <p>세계 최고 선수들의 놀라운 플레이</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="culturelife-section space">
            <div class="title">
                <h3>Space</h3>
                <p>현대카드가 제공하는 문화, 프리미엄 공간</p>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <a href="/culturelife/detail">
                        <img src="/public/images/@life_cookinglibrary.jpg" alt="">
                            <p class="tit">COOKING LIBRARY ></p>
                            <p>채움의 시간+영감의 공간</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_vnp.jpg" alt="">
                            <p class="tit">VINYL & PLASTIC ></p>
                            <p>Music Playground</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_storage.jpg" alt="">
                            <p class="tit">STORAGE ></p>
                            <p>현대카드가 만든 실험적인 전시공간</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_talent.jpg" alt="">
                            <p class="tit">DESIGN LIBRARY ></p>
                            <p>몰입의 시간 + 영감의 공간</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_travel_library.jpg" alt="">
                            <p class="tit">TRAVEL LIBRARY ></p>
                            <p>발견의 시간 + 영감의 공간</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_understage.jpg" alt="">
                            <p class="tit">UNDERSTAGE by 현대카드 ></p>
                            <p>현대카드가 선별한 대중문화를 소개하는 공연장</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_card_factory.jpg" alt="">
                            <p class="tit">CARD FACTORY ></p>
                            <p>Machines of Finance</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="culturelife-section life">
            <div class="title">
                <h3>Life</h3>
                <p>특별하고 믿을 수 있는 Life Style 제안</p>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_club_service.jpg" alt="">
                            <p class="tit">클럽서비스 ></p>
                            <p>현대카드가 엄선한 라이프스타일 영역에서의 할인 혜택</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_gome_work.jpg" alt="">
                            <p class="tit">고메위크 ></p>
                            <p>국내 최대 규모 파인 다이닝 페스티벌</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_privia.jpg" alt="">
                            <p class="tit">현대카드 PRIVIA 여행</p>
                            <p>다양한 혜택으로 누리는 스마트한 여행의 시작</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_global_museum.jpg" alt="">
                            <p class="tit">GLOBAL MUSEUM PASS ></p>
                            <p>세계적인 수준의 현대미술을 접할 수 있는 차별화된 혜택</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="culturelife-section design">
            <div class="title">
                <h3>Designed by Hyundai Card</h3>
                <p>현대카드의 철학과 스타일을 담은 현대카드 디자인</p>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_collaboration.jpg" alt="">
                            <p class="tit">Collaboration ></p>
                            <p>현대카드가 함께 만드는 새로운 브랜드</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_vnp.jpg" alt="">
                            <p class="tit">고메위크 ></p>
                            <p>현대카드의 사회공헌 프로젝트</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="#!">
                            <img src="/public/images/@life_object_brand.jpg" alt="">
                            <p class="tit">Object Branding</p>
                            <p>현대카드의 디자인 철학을 일상에서 만나다</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="back-top"><i class="fa fa-chevron-up"></i></div>
<%- include ../components/footer %>
</body>
</html>