<!doctype html>
<html lang="en">
<head>
    <%- include ../components/head %>
</head>
<body>
<%- include('../components/header', {title: title, description: description}) %>
<div class="page-nav">
    <div class="container">
        <a href="#/home">Home</a>
        <span> > </span>
        <a href="/culturelife/culturelife">컬처·라이프스타일</a>
        <span> > </span>
        <span class="title">COOKING LIBRARY</span>
    </div>
</div>
<div class="culturelife-page-detail cooking">
    <section class="cooking-slide">
        <div class="container-sm">
            <div class="desc">
                <h1>COOKING LIBRARY</h1>
                <p>채움의 시간+영감의 공간</p>
                <p class="gray">
                    현대카드 라이브러리는 디자인·트래블·뮤직으로 이어지는 지적 여정을 쿠킹으로 마무리합니다.<br>
                    현대카드 쿠킹 라이브러리는 새로운 레시피를 탐색할 수 있는 도서관이자 미식의 즐거움을 한껏 누리게 해주는 레스토랑이며,<br>
                    직접 요리를 체험하도록 돕는 친절한 주방으로, 종이책에만 납작하게 갇히지 않는 입체적이고 공감각적인 경험을 제공하는 공간<br>
                    입니다. 머무는 동안 입과 눈은 즐거워지고, 신선한 지식과 건강한 영감으로 머리와 가슴까지 든든하게 채울 수가 있을 것입니다.
                </p>
                <a href="#!">COOKING LIBRARY 바로가기 ></a>
            </div>
            <div class="gallery">
                <div class="gallery-for">
                    <img src="/public/images/198505_BIG.png" alt="">
                    <img src="/public/images/198506_BIG.png" alt="">
                    <img src="/public/images/198507_BIG.png" alt="">
                    <img src="/public/images/198509_BIG.png" alt="">
                </div>
                <div class="gallery-nav">
                    <img src="/public/images/198505_SMALL.png" alt="">
                    <img src="/public/images/198506_SMALL.png" alt="">
                    <img src="/public/images/198508_SMALL.png" alt="">
                    <img src="/public/images/198509_SMALL.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="cooking-contents">
        <div class="container-sm">
            <div class="intro">
                <h2>전시/이벤트 소개</h2>
                <div class="desc">
                    <p class="tit">food Theme</p>
                    <p>
                        Food Theme 08. EGG | 2020. 4. 21(화) ~ 2020. 5. 31(일)<br>
                        식재료와 음식을 둘러싼 다양한 이야기를 풀어내는 쿠킹 라이브러리의 푸드 테마. 그 여덟 번째 주제는 달걀이다.<br>
                        주변에서 쉽게 볼 수 있기에 모르고 지나쳤던 달걀의 새로운 세계를 쿠킹 라이브러리에서 경험해 보자.
                    </p>
                </div>
            </div>
            <div class="guide">
                <h2>이용 안내</h2>
                <div class="desc">
                    <p class="tit">운영 시간</p>
                    <p>
                        화~토요일 오후 12시~9시 / 일요일 오후 12시~6시<br>
                        ＊매주 월요일, 설·추석 연휴 휴관<br>
                        ＊법정 공휴일 운영 시간 일요일과 동일
                    </p>
                </div>
                <div class="desc">
                    <p class="tit">이용 대상</p>
                    <p>
                        Open To Public(현대카드 회원 및 비회원 입장 가능)<br>
                        1층 Deli<br>
                        - 모든 신용·체크카드 및 현금 결제 가능<br>
                        - 현대카드 결제 시 10% 할인, 20% M포인트 사용 가능(중복 적용 불가)<br>
                        <span>현대카드 회원 전용(무기명 법인카드 및 Gift카드 제외)<br>
                    2, 3층 Library<br>
                    - 회원 본인 및 동반 2인 무료 입장(만 19세 이상, 월 8회 한정)<br>
                    ＊본인 입장 횟수 및 동반 2인 초과 시 입장 불가<br>
                    ＊동시 열람인원 50명 제한(입장 대기 가능)<br></span>
                        3, 4층 KitchenⅠ·Ⅱ<br>
                        - 회원 본인 및 동반인 이용 가능(만 19세 이상, 현대카드에 한해 결제 가능)<br>
                        ＊Cooking Program 사전 예약 필수<br>
                        <span>4층 Greenhouse<br>
                    - 회원 본인 및 동반인 이용 가능(현대카드에 한해 결제 가능)<br>
                    - 사전 예약 필수(예약문의 : 02-511-9400)<br></span>
                    </p>
                </div>
                <div class="desc">
                    <p class="tit">유의사항</p>
                    <p>
                        2~4층은 연령 및 본인 확인을 위해 본인 및 동반인 신분증 지참<br>
                        현대카드 회원의 경우 실물카드나 앱카드 지참<br>
                        ＊회원 본인 동반 없이 비회원 입장 불가
                    </p>
                </div>
                <div class="desc">
                    <p class="tit">프로모션 기간</p>
                    <p>
                        2020년 12월까지(변경 가능)
                    </p>
                </div>
                <div class="desc last">
                    <p class="tit">주소</p>
                    <p>
                        서울시 강남구 압구정로46길 46<br>
                        02-513-2900<br>
                        cookinglibrary@hcs.com
                    </p>
                </div>
                <div>
                    <img src="/public/images/map_cookinglibrary.jpg" alt="">
                </div>
            </div>
            <div class="banner">
                <p class="tit">
                    영감의 공간 현대카드 LIBRARY
                </p>
                <p>
                    디자인, 여행, 음악, 요리 등 라이프스타일 전반에서 새로운 기준을 제시해 온 현대카드의 철학과 재해석이 집결된 지적 허브
                </p>
                <a href="#!">현대카드 LIBRARY 바로가기 ></a>
            </div>
        </div>
    </section>
</div>

<div class="back-top"><i class="fa fa-chevron-up"></i></div>
<%- include ../components/footer %>
</body>
</html>